.name {
  flex: 2;
}

.data {
  flex: 1;
}

.edit {
  flex: 1;
}

.delete {
  flex: 1;
}

.csv {
  border-right: 5px solid #987316;
  padding-right: 15px;
  margin-top: 30px;
  margin-bottom: -20px;
  text-align: right;
}

.csv p {
  margin-bottom: 0;
}

.csv a {
  color: #55595c;
  font-size: 15px;
}

.csv a:hover {
  text-decoration: none;
  color: #987316;
}

.add-margin {
  margin-top: 40px;
}

/* Icons */
.fa-thermometer-half {
  color: #987316;
}

.fa-tint {
  color: #987316;
}

.fa-trash-alt {
  cursor: pointer;
}

.fa-edit {
  color: #987316;
}

.fa-smoking {
  color: #987316;
}

.fa-cloud-rain {
  color: #987316;
}

.fa-glass-cheers {
  color: #987316;
}

.fa-water {
  color: #987316;
}

.fa-sort-amount-up {
  color: #987316;
}

.fa-chart-line {
  color: #987316;
}

.fa-running {
  color: #987316;
}