:root {
  --gold: #987316;
}

.invisible {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.visible {
  background: none;
  height: 80px;
  width: 100%;
  border-bottom: 2px solid var(--gold);
}

.brand-name a {
  color: var(--gold);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

.brand-name a:hover {
  text-decoration: none;
}

.visible ul {
  float: right;
  margin-right: 40px;
}

.visible ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

.visible ul button {
  border: 1px solid var(--gold);
  background: none;
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 7px 13px;
  border-radius: 3px;
  outline: none;
}

.visible ul li a {
  color: #000;
  font-size: 13px;
  text-transform: uppercase;
  padding: 7px 13px;
}

.visible ul li a:hover,
.visible ul button:hover,
.active {
  border-bottom: 3px solid var(--gold);
  text-decoration: none;
  color: var(--gold);
}

.checkbtn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 1030px) {
  .brand-name a {
    font-size: 32px;
    padding-left: 50px;
  }

  .visible ul li a,
  .visible ul button {
    font-size: 13px;
  }
}

@media (max-width: 920px) {
  .checkbtn {
    display: block;
  }

  .visible ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .visible ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
  }

  .visible ul button {
    margin-top: -10px;
  }

  .visible ul li a,
  .visible ul button {
    font-size: 20px;
    color: #fff;
  }

  .visible .show-menu {
    left: 0
  }
}